<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Пост - Node test</title>
  <link rel="stylesheet" href="./index.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Главная</a></li>
      <li><a href="/contacts">Контакты</a></li>
      <li><a href="/about-us">О нас</a></li>
      <li><a href="/add-post">Добавить пост</a></li>
      <li><a href="/posts">Посты</a></li>
    </ul>
  </nav>

  <div class="post">
    <h2>Заголовок поста 1</h2>
    <p>Автор: Имя автора 1</p>
    <p>Текст поста 1</p>
  </div>
</body>
</html>