<nav>
  <ul>
    <li><a href="/">Главная</a></li>
    <li><a href="/contacts">Контакты</a></li>
    <li><a href="/about-us">О нас</a></li>
    <li><a href="/add-post">Добавить пост</a></li>
    <li><a href="/posts">Посты</a></li>
  </ul>
</nav>