<!DOCTYPE html>
<html lang="ru">
  <%- include('./partials/head.ejs') %>
<body>
  <div class="title"><%= title %></div>
  <div>
    <% include('./partials/nav.ejs') %>
  </div>

  <div class="contacts-list">
    <% if (contacts.length > 0) { %>
      <% contacts.forEach(contact => { %>
        <div class="contact">
          <h3><a href="<%= contact.link %>"><%= contact.name %></a></h3>
        </div>
      <% }); %>
    <% } else { %>
      <p>No contacts found.</p>
    <% } %>
  </div>
</body>
</html>
